@model QuestionViewModel


<div class="row">
    <div class="col-md-8 offset-md-2 jumbotron">
        <h2>@Model.Question.Title</h2>
        <hr />
        <p>@Model.Question.Text</p>
        <hr />
        <span>Asked by lit</span>
        on
        <span>Friday, 09 April 2021</span>
        <br />
        <span>Tags:</span>
        <span class="badge badge-primary">LIT</span>
        <span class="badge badge-primary">Homework</span>
        <br />
        <span>Likes: </span> <span data-question-id="7" id="likes-count">4</span>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h3>Answers:</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2 card card-body bg-light">
        <h3>No answers yet, be the first to submit one!</h3>
    </div>
</div>
