<form action="/account/signup" method="post">
    <div class="jumbotron container col-md-12">
        <h3>Sign up for new account</h3>
        <input type="text" name="name" placeholder="Name" class="form-control mt-3"/>
        <input type="text" name="email" placeholder="Email" class="form-control mt-3"/>
        <input type="password" name="password" placeholder="Password" class="form-control mt-3"/>
        <button class="btn btn-outline-success mt-3">Sign up</button>
    </div>
</form>
